.kw-form-wrapper mat-form-field {
  margin-right: 2rem;
  width: 200px;
}

.kw-tracking-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.kw-tacking-error-icon {
  font-size: 5rem;
  margin-right: 1rem;
}

.kw-tracking-error-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.kw-tracking-inner {
  margin-bottom: 2rem;
}
