.kw-postal-code-field {
  width: 100px;
}

mat-form-field {
  margin-right: 2rem;
}

.kw-sender-wrapper {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.kw-receiver-wrapper {
  margin-bottom: 3rem;
}

.kw-weight-wrapper {
  margin-bottom: 1rem;
}





