.kw-navbar {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.kw-logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.kw-logo span {
  margin-right: 0.5rem;
}

.kw-links {
  display: flex;
  align-items: center;
}

.kw-active-link {
  border-bottom: 2px solid white;
}

.kw-link-txt {
  padding-bottom: 5px;
}


