<nav class="kw-navbar kw-background-primary mat-elevation-z1">
  <div class="kw-logo">
    <span class="material-icons">local_shipping</span>
    <h1>KochWermann</h1>
  </div>
  <div class="kw-links">
    <button mat-button routerLink="submit-parcel">
      <span routerLinkActive="kw-active-link" class="kw-link-txt">Submit Parcel</span>
    </button>
    <button mat-button routerLink="track-parcel">
      <span routerLinkActive="kw-active-link" class="kw-link-txt">Track Parcel</span>
    </button>
    <button mat-button routerLink="report">
      <span routerLinkActive="kw-active-link" class="kw-link-txt">Report Hop/Delivery</span>
    </button>
  </div>
</nav>
