@import "variables.scss";

// html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  margin: 0;
}

.kw-color-primary {
  color: $primary;
}

.kw-color-accent {
  color: $accent;
}

.kw-color-warn {
  color: $warn;
}

.kw-background-primary {
  background-color: $primary;
}

.kw-background-accent {
  background-color: $accent;
}

.kw-background-warn {
  background-color: $warn;
}

.kw-w100 {
  width: 100%;
}

.kw-w50 {
  width: 50%;
}

.kw-w33 {
  width: 33.33%;
}

.kw-italic {
  font-style: italic;
}

.kw-m-0 {
  margin: 0;
}
